Assembly-CSharp-Editor-firstpass.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp.csproj
Assembly-CSharp-Editor-firstpass.csproj
Library/*
SyncClient/.vs/*
.vs/*
Temp/UnityTempFile-f6e1a548cffcf4bbf9609769c61c66c1
Temp/*
Assets/StreamingAssets/build_info.txt
Assets/ThirdParty/codeandweb.com/Editor/SettingsTexturePackerImporter.txt
Assets/ThirdParty/codeandweb.com/Editor/SettingsTexturePackerImporter.txt.meta
obj
*.idea
*.sln
*.suo
*.csproj
*.user
*.DotSettings
*.userprefs
*.unityproj
*.bat
*.DS_Store
SyncClient/packages*
Assets/Plugins/Editor/JetBrains*
Assets/AVProMovieCapture*
Assets/StreamingAssets/Config/*
TestData/Logs/*
local.properties
ExternalProjects/Android/MainActivity/build
ExternalProjects/Android/MainActivity/.gradle
MemoryCaptures/
Logs/
*.snap
UserSettings/*
